@import "./variables.scss";

.blog h3 {
  color: #8D9C9F;
  font-size: 16px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.blog section {
  margin-bottom: 100px;
}

.blog-title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 0;
}

.blog-description {
  margin-bottom: 55px;
  color: #596e74;
  text-align: center;
}

.post {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgb(31 35 46 / 15%);
  z-index: 99999;
  background-color: $white;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  max-height: 230px;

  &.featured-post {
    max-height: 500px;
    display: block;
    width: 48%;

    .post-content, >span {
      width: 100%;
    }

    .post-content {
      margin-left: 0;
    }

    > span {
      width: unset !important;
    }
  }

  &:hover {
    box-shadow: 0 15px 45px -10px rgb(10 16 34 / 20%);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  > span {
    margin: 15px !important;
    width: 30% !important;
  }

  .post-title {
    font-size: 26px;
    line-height: normal;
    color: #263959;
  }

  .post-content {
    width: 70%;
    margin-left: 20px;
    padding: 10px 20px;

    >p {
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .post-img {
    border-radius: 10px;
  }

  .post-img-no-photo {
    border: solid 2px #ddd !important;
    border-radius: 10px;
  }

  .post-info {
    vertical-align: baseline;
    font-size: 14px;
    color: #949494;
  }

  .bull {
    margin: 0 5px;
    opacity: 0.6;
    vertical-align: middle;
  }
}

.featured-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.post-info {
  font-size: 12px !important;
}

.dark-mode {
  .blog-description {
    color: $primary-text-dark;
    opacity: 0.5;
  }

  .post {
    background-color: $background-dark;
    opacity: 0.9;
  }
}
