@import './variables.scss';

.header {
  &-desktop, &-mobile {
    display: flex;
    justify-content: flex-end;
  }

  &-link {
    color: #000;
    font-family: Heebo;
    font-weight: 500;
    font-size: 20px;
    margin: 0 15px;
  }

  &-active {
    color: #FF6464;
  }
}

.header-desktop {
  margin-top: 25px !important;
}

.header-mobile {
  .menu {
    margin-right: 3px;
    margin-top: 20px;
    font-size: 26px;
  }
}

@media only screen and (min-width: $breakpointDesktop) {
  .header-mobile {
    display: none;
  }
}

.footer {
  text-align: center;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-bg {
  position:absolute;
  top: 100px;
}

.container {
  &-sm {
    max-width: 860px;
    position: relative;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }

  &-md {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
}

@media only screen and (max-width: $breakpointMobile) {
  .header-mobile {
    display: flex;
  }

  .header-desktop {
    display: none;
  }

  .main-bg {
    top: 500px;
    left: -170px;
  }
}