@import "./variables.scss";

body {
  background-color: $background-light;
  color: $primary-text-light;
  overflow-x: hidden;
}

body.dark-mode {
  background-color: $background-dark;
  color: $primary-text-dark !important;
  overflow-x: hidden;
  
  a, div, span, h1 {
    color: $primary-text-dark !important;
  }
}