@import "./variables.scss";
@import "./mixin.scss";

.header {
  &-desktop,
  &-mobile {
    display: flex;
    justify-content: space-between;
    z-index: 99999;
  }

  &-link-wrapper {
    div:not(:first-child) {
      transition: all 0.5s ease;

      &:hover {
        background: #ddd !important;

        & > a {
          color: #000;
        }
      }
    }
  }

  &-link {
    color: #000;
    font-family: Heebo;
    font-weight: 500;
    font-size: 20px;
    margin: 0 15px;
  }

  &-active {
    color: $red;
  }
}

.header-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.header-desktop,
.header-mobile {
  margin-top: 25px !important;

  > a {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 25px;
    position: relative;

    > span:first-child {
      color: $red !important;
    }

    &:before {
      background: #000;
      content: "";
      opacity: 0.71;
      position: absolute;
      left: auto;
      right: 0;
      bottom: 0;
      width: 0;
      height: 1.3px;
      z-index: 1;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      &:before {
        width: 100%;
        left: 0;
      }
    }
  }

  a:hover {
    color: $red;
  }
}

.header-mobile {
  .menu {
    margin-right: 3px;
    margin-top: 20px;
    font-size: 26px;
  }
}

.header-wrapper {
  position: relative;

  .particles-wrapper {
    position: absolute;
    top: -30px;
    width: 100%;
    z-index: 9999;
  }
}

.theme-style-wrapper {
  margin: 0 30px;
}

.theme-style-cb {
  opacity: 0;
  position: absolute;
}

.theme-style-lb {
  width: 40px;
  height: 20px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.theme-style-ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.theme-style-cb:checked + .theme-style-lb .theme-style-ball {
  transform: translateX(20px);
}

@media only screen and (min-width: $breakpointDesktop) {
  .header-mobile {
    display: none;
  }
}

.footer {
  z-index: 99999;
  margin-top: 50px;
  text-align: center;
  padding: 10px 0;
  background: $gray;
  font-size: 13px;

  .container-md {
    margin-top: 0;
  }
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-bg,
.main-bg-3 {
  position: absolute;
}

.main-bg {
  top: 100px;
}

.main-bg-3 {
  top: 250px;
  right: 0;
  z-index: -1;
}

.container {
  &-sm {
    max-width: 860px;
    position: relative;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }

  &-md {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-top: 90px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 10%;
  right: 30px;
  z-index: 999999;

  @include round-btn(42px, 42px, 20px);
  &:hover {
    opacity: 0.6;
  }
}

@media only screen and (max-width: $breakpointMobile) {
  .header-mobile {
    display: flex;

    & > a {
      margin-top: 20px !important;
    }
  }

  .header-desktop {
    display: none;
  }

  .main-bg {
    top: 500px;
    left: -170px;
  }

  .container-md {
    margin-top: 50px;
  }
}

.dark-mode {
  .main-bg,
  .main-bg-3 {
    opacity: 0.1;
  }

  .header-desktop,
  .header-mobile {
    a:before {
      background: $background-light;
    }
  }

  .header-active {
    color: $red !important;
  }

  .footer {
    background: #2B2B2B;
  }
}
