.hero-section-wrapper {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;

  .hero-section {
    width: 70%;

    .description {
      font-size: 16px;
      line-height: 28px;
      text-align: justify;
      margin: 30px 0 10px;
      
      span {
        will-change: transform;
      }
    }

    .job-title {
      color: #FF6464;
      font-style: italic;
    }
  }

  .profile-img-wrapper {
    box-shadow: -5px 13px rgb(0 0 0 / 8%);
    color: #C3BDAC;
    border-radius: 50%;
    height: 237px;

    img {
      border-radius: 100%;
    }
  }
}

